<li>
    <a href="/cv" class="{% block cvNavStyle %}{% endblock %}">CV</a>
</li>
<li>
    <a href="/generalMessage" class="{% block generalMessagesNavStyle %}{% endblock %}">General Messages</a>
</li>
<li>
    <a href="/privateMessage" class="{% block privateNavStyle %}{% endblock %}">Private Messages</a>
</li>
<li>
    <a href="/applyJob" class="{% block jobNavStyle %}{% endblock %}">Apply for Job</a>
</li>


