<li>
    <a href="/downloadCv" class="{% block downloadNavStyle %}{% endblock %}">Download Cv</a>
</li>
<li>
    <a href="/ePrivateMessage" class="{% block ePrivateNavStyle %}{% endblock %}">Private Messages</a>
</li>



