{% extends '_base.html.twig' %}

{% block title %}Download Cv{% endblock %}

{# ------------------------------------------------- #}
{% block downloadCvNavStyle %}current_page{% endblock %}

{% block main %}

    <h1>Download Cv</h1>

    <a href="download">Download</a>


{% endblock %}
