<li>
    <a href="/pGeneral" class="{% block pGeneralNavStyle %}{% endblock %}">General Messages</a>
</li>
<li>
    <a href="/pPrivateMessage" class="{% block pPrivateNavStyle %}{% endblock %}">Private Message</a>
</li>
<li>
    <a href="/newJob" class="{% block nJobNavStyle %}{% endblock %}">Create Job</a>
</li>
<li>
    <a href="/aCv" class="{% block aCvNavStyle %}{% endblock %}">Cv</a>
</li>
<li>
    <a href="/student" class="{% block studentNavStyle %}{% endblock %}">Student</a>
</li>
<li>
    <a href="/crud" class="{% block crudNavStyle %}{% endblock %}">Crud</a>
</li>
