{% extends '_base.html.twig' %}

{# ------------------------------------------------- #}
{% block pageTitle %}About{% endblock %}

{# ------------------------------------------------- #}
{% block aboutNavStyle %}current_page{% endblock %}

{# ------------------------------------------------- #}
{% block main %}

<h1>
    About
</h1>


<h2>Who</h2>
<p>
This is the Institute of Technolgy's CDM application manager.
</p>

<h2>What we offer</h2>
<p>
    <ul>
        <li>
         The chance for to upload your CV to be reviewed by the lecturer.
        </li>
         <li>
         The ablity to update your CV details.
        </li>
         <li>
         The ablity to upload a photo of themselves to their CV.
        </li>
        <li>
        View any comments from the lecturer on your CV.
        </li>
        <li>
        See a list of jobs currently open for application.
        </li>
        <li>
        Apply for a job.
        </li>
     </ul>
</p>

<img src="images/about.jpg" alt="about">

{% endblock %}