{% extends '_base.html.twig' %}

{# ------------------------------------------------- #}
{% block pageTitle %}Home{% endblock %}

{# ------------------------------------------------- #}
{% block indexNavStyle %}current_page{% endblock %}

{# ------------------------------------------------- #}
{% block main %}

<table>
<tr>

<td>
<h1>
Welcome to the ITB Creative Digital Media application manager.
</h1>


<p>
This website offers you the opportunity to upload you CVs to be reviewed and offer feedback by our lecturer
</p>

<p>
Please Login or Register in order to upload your CV
</p>
</td>

<td>
<p>
    <img src="images/home.jpg" alt="home">
</p>
</td>

</tr>
</table>


{% endblock %}
