{% extends '_base.html.twig' %}

{# ------------------------------------------------- #}
{% block pageTitle %}Error Message{% endblock %}


{# ------------------------------------------------- #}
{% block main %}

<h1>whoops - something went wrong</h1>
<p>
    {{ message }}
</p>

{% endblock %}
