{% extends '_base.html.twig' %}

{# ------------------------------------------------- #}
{% block pageTitle %}Success{% endblock %}

{# ------------------------------------------------- #}
{% block main %}

<h1>Success</h1>
    <p>
        {{ Success }}
    </p>
    <p>
        <a href="{{ Return }}">Return</a>
    </p>

{% endblock %}